@use '@material/typography/mdc-typography';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Noto Sans JP', 'Noto Emoji', sans-serif;
}

.container {
	padding: 30px;
}

:root {
	--mdc-typography-subtitle1-font-family: 'Roboto', 'Noto Sans JP', 'Noto Emoji', sans-serif;
}